---
layout: layouts/base.njk
permalink: /about/
---
<h2 class="hey__charli__heading">Hey - I'm Charli</h2>
<p>I'm a horror enthusiast, bookworm, metalhead, blogger, and web developer living in beautiful Colorado.</p>
<p>I've been watching horror since I was a kid. I remember my older sister, her friend, and I would stay up late on Saturday nights to watch "Tales from the Dark Side". Most of them weren't particularly scary - at least not to me. But it fueled my love of all things dark, creepy, and gory.</p>
<p>You won't find much that puts me off on horror films, shows, or books - except animal death/cruelty. I'm sorry, there's no call for that - human cruelty/death is bad enough, but you don't need to do that to animals. Just not my thing.</p>
<p>When it comes to movies, I've got a ton of places to watch them - I currently subscribe to the following streaming services: Tubi, Netflix, Hulu, Paramount+, Shudder, Peacock Premium, and YouTube. Trust me when I say I can always find a horror movie or show to watch! As for books, well, I have a NetGalley and an Edelweiss+ account, plus I have a library card, so horror books are always at my fingertips as well.</p>

