---
layout: layouts/base.njk
permalink: /archives/
---
<h2 class="archive__header">The Archives</h2>
<p>Choose what you'd like to read:</p>
<p class="what_to_read">
<a href="/posts/"><img loading="lazy" height="256" width="256" class="choose_your_adventure" src="/static/images/blog.webp"></a>
<a href="/books/"><img loading="lazy" height="256" width="256" class="choose_your_adventure" src="/static/images/open-book.webp"></a>
<a href="/television/"><img loading="lazy" height="256" width="256" class="choose_your_adventure" src="/static/images/television.webp"></a>
<a href="/movies/"><img loading="lazy" height="256" width="256" class="choose_your_adventure" src="/static/images/film.webp"></a>
</p>