---
layout: layouts/base.njk
permalink: /archives/
---
<h2 class="archive__header">The Archives</h2>
<p>Choose what you'd like to read:</p>
<p class="what_to_read">
<a href="/posts/"><img class="choose_your_adventure" src="/static/images/blog.png"></a>
<a href="/books/"><img class="choose_your_adventure" src="/static/images/open-book.png"></a>
<a href="/television/"><img class="choose_your_adventure" src="/static/images/television.png"></a>
<a href="/movies/"><img class="choose_your_adventure" src="/static/images/film.png"></a>
</p>