---
layout: layouts/base.njk
pagination:
    data: collections.movies
    size: 3
    reverse: true
    alias: movielist
    generatePageOnEmptyData: true
---
<h2 class="archive__header">Movie Reviews</h2>

<ul>
{% for movie in movielist %}
  <li><a class="post__url" href="{{ movie.url | url }}"><h2 tabindex="-1">class="the__title">{{ movie.data.title }}</h2></a>
  <span class="when__posted">Posted on <span class="why__me">{{ movie.date | readableDate }}</span> - by Charli</span>
  <article class="the__post">{{ movie.templateContent | safe }}</article></li>
{% endfor %}
</ul>

<section class="pagination">
  {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&lt;&lt;</a>{% endif %}
  {%- for pageUrl in pagination.hrefs %}
  {%- set isCurrentPage = pagination.pageNumber == loop.index0 -%}
  {%- if isCurrentPage %}<strong>{%- endif %}

  {%- if isCurrentPage 
  or loop.first 
  or loop.last
  or pagination.pageNumber in [loop.index0-1, loop.index0+1] -%}

    {%- if loop.last and pagination.pageNumber < (loop.length - 3) -%}
      ...
    {%- endif -%}

    <a class="pagination_item" href="{{ pageUrl }}">{{ loop.index }}</a>

    {%- if loop.first and pagination.pageNumber > 2 -%}
      ...
    {%- endif -%}

  {%- endif -%}
  
  {%- if isCurrentPage %}</strong>{%- endif %}
{%- endfor %}
{% if pagination.href.next %}<a href="{{ pagination.href.next }}">&gt;&gt;</a>{% endif %}
</section>
<script>
  // Assuming this gets called every time new content loads...
  function onNewPage() {
    var heading = document.querySelector('h2');
    heading.focus();
    // You can also update the page title :)
    document.title = heading.textContent;
  }
</script>