---
layout: layouts/base.njk
permalink: /posts/
pagination:
    data: collections.posts
    size: 3
    alias: posts
---
{% set postslist = collections.posts %}
{% include "postslist.njk" %}

{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Newer Posts</a>{% endif %}
{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Older Posts</a>{% endif %}