---
layout: layouts/base.njk
permalink: /credits/
---
<div id="wrap_it_up">
<h2 class="archive__header">Site Credits</h2>
<h3 class="credits_header">Build Credits</h3>
<ul class="credits_list">
    <li><a href="https://11ty.dev">Built with 11ty</a></li>
    <li><a href="https://netlifycms.org">Backend by NetlifyCMS</a></li>
    <li><a href="https://netlify.com">Hosted on Netlify</a></li>
    <li><a href="https://github.com">Stored on Github</a></li>
    <li><a href="https://xavibenjamin.com/2020/07/create-a-film-diary-with-eleventy-and-letterboxd/">Tutorial used to create Letterboxd sidebar section</a></li>
</ul>
<p></p>
<h3 class="credits_header">Site Icons</h3>
<ul class="credits_list">
    <li><a href="https://www.flaticon.com/free-icons/horror" title="horror icons">Horror icons created by Zulfa Mahendra - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/blog" title="blog icons">Blog icons created by Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/film" title="film icons">Film icons created by Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/tv" title="tv icons">TV icons created by Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/404-error" title="404 error icons">404 error icons created by Us and Up - Flaticon</a></li>
</ul>
</div>

