---
layout: layouts/base.njk
pagination:
    data: collections.television
    size: 3
    reverse: true
    alias: televisionlist
---
<h2 class="archive__header">TV Show Reviews</h2>

<ul>
{% for television in televisionlist %}
  <li><a class="post__url" href="{{ television.url | url }}"><h2 class="the__title">{{ television.data.title }}</h2></a>
  <h5 class="when__posted">Posted on <span class="why__me">{{ television.date | readableDate }}</span> - by Charli</h5>
  <article class="the__post">{{ television.templateContent | safe }}</article></li>
{% endfor %}
</ul>

<section class="pagination">
  {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&lt;&lt;</a>{% endif %}
  {%- for pageUrl in pagination.hrefs %}
  {%- set isCurrentPage = pagination.pageNumber == loop.index0 -%}
  {%- if isCurrentPage %}<strong>{%- endif %}

  {%- if isCurrentPage 
  or loop.first 
  or loop.last
  or pagination.pageNumber in [loop.index0-1, loop.index0+1] -%}

    {%- if loop.last and pagination.pageNumber < (loop.length - 3) -%}
      ...
    {%- endif -%}

    <a class="pagination_item" href="{{ pageUrl }}">{{ loop.index }}</a>

    {%- if loop.first and pagination.pageNumber > 2 -%}
      ...
    {%- endif -%}

  {%- endif -%}
  
  {%- if isCurrentPage %}</strong>{%- endif %}
{%- endfor %}
{% if pagination.href.next %}<a href="{{ pagination.href.next }}">&gt;&gt;</a>{% endif %}
</section>