<!-- ./_site/_includes/partials/film-diary.html -->

{% set letterboxdItems = letterboxd.slice(0,5) %}

<div class="film__items">
    {% for item in letterboxdItems %}
    <article class="film__entry">
        <a href="{{ item.uri }}" class="film__url">
            <div class="film__info">
                <img class="movie__poster" src="{{ item.film.image.small }}"
                alt="Poster for {{ item.film.title }}"
                loading="lazy" align="left">
                {{ item.film.title }}<br>
                {{ item.rating.text }}
                <!-- <span class="film__watched-date">{{ item.date.watched }}</span> -->
            </div>
            <br>
        </a>
    </article>
    {% endfor %}
</div>