<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="device-width, initial-scale=1.0">
        <title>The Horror Revue</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    </head>
    <body>
      <div class="wrapper">
        <header role="banner" class="header">
       <h1>The Horror Revue</h1>
        </header>
        <nav role="navigation" id="top-navigation" class="navbar__one">
          <ul class="nav__one">
            <li class="menu-item"><a href="/index.html">Home</a></li>
            <li class="menu-item"><a href="/about/">About</a></li>
            <li class="menu-item"><a href="/archives/">Archives &blacktriangledown;</a>
            <ul>
              <li class="menu-item"><a href="/posts/">Blog</a></li>
              <li class="menu-item"><a href="/movies/">Movies</a></li>
              <li class="menu-item"><a href="/books/">Books</a></li>
              <li class="menu-item"><a href="/television/">TV Shows</a></li>
            </ul>
            </li>
            <li class="menu-item"><a href="/credits/">Site Credits</a></li>
          </ul>
        </nav>
        <main class="content__main">
        <section class="main">
        {{ content | safe }}
        </section>
        <aside role="complementary" class="sidebar">
          <article class="author__bio">
            <img class="author__photo" loading="lazy" src="/static/images/charliold.webp" height="200" width="200" alt="Photo of Charli">
            <h2 class="author__intro">Hi There...</h2>
            <p class="author__info">I'm Charli. I'm a <span class="horror__fan">horror enthusiast</span>, <span class="bookworm">bookworm</span>, <span class="web__dev">web developer</span>, and <span class="metalhead">metalhead</span>. <a href="/about/">More...</a>
            </article>
            <h2 class="author__intro">Letterboxd</h2>
          {% include 'partials/film-diary.html' %}
        </aside>
        </main>
        <footer role="contentinfo" class="footer">
        &copy; 2022 Charity Gamble<br>
        Built with <a href="https://11ty.dev">11ty</a> &amp; <a href="https://netlifycms.org">Netlify CMS</a>. 
        Hosted on <a href="https://netlify.com">Netlify</a>.<br>
        
        </footer>
        </div>
        <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
    </body>
</html>   
